<ul>
  <li class="active">
    <%= link_to sweet_home_url do %>
      <span class="glyphicon glyphicon-home"></span> 首页
    <% end %>
  </li>
  <li>
    <%= link_to sweet_home_url do %>
      <span class="glyphicon glyphicon-th"></span> 产品
    <% end %>
  </li>
  <li>
    <%= link_to sweet_home_url do %>
      <span class="glyphicon glyphicon-file"></span> 资讯
    <% end %>
  </li>
  <li>
    <%= link_to sweet_home_url do %>
      <span class="glyphicon glyphicon-leaf"></span> 品牌故事
    <% end %>
  </li>
  <li>
    <%= link_to sweet_home_url do %>
      <span class="glyphicon glyphicon-user"></span> 关于我们
    <% end %>
  </li>
</ul>